# EditorConfig is awesome: http://EditorConfig.org
# and so is BBEdit: https://www.barebones.com

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Matches multiple files with brace expansion notation
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
charset = utf-8

# Tab indentation
indent_style = tab
tab_width = 2

# Backups
make-backup-files = 0

# BBEdit-specific preferences

x-font-name = "Hack Regular"
x-font-size = 16
x-soft-wrap-text = true
x-soft-wrap-mode = WindowWidth
