@charset "UTF-8";

/* style the masthead area */
.masthead
{
	margin: 1em auto .5em auto;
	text-align: center;
}

/* style the search form */
#searchbox
{
	margin: 0;
	padding: 24px 5px 0 0;
}

#hardlinks
{
	margin: 0;
	padding-top: 4px;
}

#separator
{
	height: 6px;
	background-color: #4b7aaa;
}

/* styles for the menu system */
.navbar-brand { font-family: Georgia, serif; }

/* background color for top menu bar background */
.navbar-bg,
.navbar-inverse,
#navbar-bg
{
	color: white;
	background-color: #4b7aaa;
}

.navbar1
{
	font-size: 110%;
	font-weight: bold;
	color: white;
}

/* style the container for the left column */
#left
{
	width: 120px;
	background-image: url(img/gradient-left.jpg);
	background-repeat: repeat-y;
}

/* style the left column contents */
#column_left,
#left-ads
{
	font-size: 90%;
	padding-top: 4px;
	text-align: center;
}

/* styles for all the inside pages: content */
/* style the container for the live content area */
#center { background-color: #fafaff; }
h1,
h2 { text-align: center; }

table#dateline
{
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0 4px 0 4px;
	background-color: #ccc;
}

#content li
{
	font-size: 16px;
	margin-bottom: .5em;
}

p,
blockquote
{
	font-size: 16px;
	line-height: 125%;
	text-align: justify;
}

p#contents_listing { font-family: Arial, Helvetica, sans-serif; margin-top: 1em; }

p.subhead
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

p.byline
{
	font-style: italic;
	text-align: center;
}

figure { margin-bottom: 1em; }

.photocaption
{
	font-family: 'Times New Roman', Times, serif;
	font-size: .85em;
}

/* style the reviewed-item information that appears beneath the subhead */
.bookreview
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.25em;
	font-weight: bold;
	margin: .5em;
	padding: .5em;
	text-align: center;
	background-color: #ddd;
}

/* O Tempora start */
.otomhead
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	text-align: left;
}

.backtotop
{
	font-family: Arial;
	font-size: x-small;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* separate the sections in the all-up versions of AR online */
.redhead
{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-right: .4em;
	padding-left: 1em;
	white-space: nowrap;
	letter-spacing: 4px;
	color: white;
	background-color: #b70303;
}

li.link
{
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 1px navy solid;
}

/* separate the letters from readers */
.quill
{
	clear: both;
	margin-bottom: 30px;
	text-align: center;
}

/* fieldset and legend are used to wrap comments and sections in the Readers Guide */
#content fieldset
{
	margin-top: 6px;
	background-color: white;
}

#content legend { font-weight: bold; }

/* styles for the front page only: contentii */
#containerii
{
	margin-right: 1em;
	margin-left: 1em;
}

#containerii p
{
	font-family: 'Times New Roman', serif;
	font-size: .8em;
	line-height: 1.2em;
	text-align: left;
	color: #000;
	background-color: inherit;
}

/* style the announcement banner */
.announcement
{
	font-size: larger;
	padding-bottom: 6px;
}

.announcement a:link,
.announcement a:visited { text-decoration: none; }
.announcement a:hover,
.announcement a:focus,
.announcement a:active { text-decoration: none; }

/* style linked text site-wide */
a:link,
a:visited
{
	text-decoration: none;
	color: #103994;
}

a:hover,
a:focus { color: #66f; }

a:active
{
	font-weight: bold;
	text-decoration: none;
	color: #66f;
}

/* dropcap follows h1, dropcap 2 follows h2 */
span.dropcap
{
	font-family: 'Times New Roman', Georgia, serif;
	font-size: 4.4em;
	line-height: .85em;
	float: left;
	margin-right: .03em;
	margin-bottom: -.25em;
	color: #009;
}

span.dropcap2
{
	font-family: 'Times New Roman', Georgia, serif;
	font-size: 3em;
	line-height: .85em;
	float: left;
	margin-right: .03em;
	margin-bottom: -.25em;
	color: #009;
}

/* box containing images */
.boxleft
{
	float: left;
	margin-right: 1em;
}

.boxcenter { margin: .5em auto .5em auto; }

.boxright
{
	float: right;
	margin-left: 1em;
}

.boxleft td img,
.boxcenter td img,
.boxright td img
{
	padding: 4px;
	border: 1px solid #bbb;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px#888;
	-moz-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.pull-left { margin-right: 1em; }
.pull-right { margin-left: 1em; }

/* quote contains pull quotes */
.quoteleft
{
	float: left;
	width: 40%;
	margin: .5em 1em .5em 0;
	background-color: #ccc;
}

.quotecenter
{
	margin: .5em auto .5em auto;
	padding: 1em;
	background-color: #ccc;
}

.quoteright
{
	float: right;
	width: 40%;
	margin: .5em 0 .5em 1em;
	background-color: #ccc;
}

/* hide the comment form until they agree to terms */
#v-form { display: none; }

/* style sup and sub preserve line spacing */
sup,
sub
{
	font-size: .7em;
	line-height: 0;
}

.hellip { letter-spacing: .3em; }

/* style the container for the right column */
#right
{
	width: 120px;
	background-image: url(img/gradient-right.jpg);
	background-repeat: repeat-y;
}

/* style the right column contents */
#column_right,
#right-ads
{
	font-size: 90%;
	padding-top: 6px;
	text-align: center;
}

/* style the page numbers for the multi-page categories and date archives in MT */
.pages { clear: left; }

.clearpages
{
	clear: both;
	padding: 0 0 20px 0;
}

.pages a,
.pages span
{
	display: block;
	float: left;
	margin-right: .1em;
	padding: .2em .5em;
	border: 1px solid #808080;
	background: #4b7aaa;
}

.pages a.current
{
	color: #fff;
	border: 1px solid #808080;
	background: #eee;
}

.pages a.current:link,
.pages a.current:visited
{
	color: #000;
	border: 1px solid #808080;
	background: #eee;
}

.pages a
{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: 1px solid #808080;
}

.pages a:link,
.pages a:visited
{
	text-decoration: none;
	color: #fff;
	border: 1px solid #808080;
}

.pages a:hover,
.pages a:active
{
	color: #000;
	border-color: #808080;
	background: #eee;
}

.pages a.nextprev
{
	font-weight: bold;
	color: #666;
}

.pages span.nextprev
{
	color: #000;
	border: 0 solid #fff;
	background: #fff;
}
/* --- disqus css -- */
#comments {	background-color: #fafaff; }
#disqus_thread
{
	color: black;
	border-style: 0px solid;
	border-color: #cccccc;
	padding: 5px;
}

#dsq-content #dsq-comments .dsq-comment-body
{
	color: black;
	background-color: #fafaff;
}

.dsq-reaction-body { color: #fff; }
.dsq-reaction-header cite, .dsq-reaction-header span { color: #ccc; }
.dsq-reaction-retweets { color: #ccc; }

#dsq-content #dsq-comments .dsq-comment-header
{
	background: #fafaff;
	/* Header background color */
	border-top: black 1px solid;
	/* Header top border */
	border-left: black 1px solid;
	/* Header left border */
	border-right: black 1px solid;
	/* Header bottom border */
}

/*
Disqus comment header consists of an avatar, hyperlinked text (author or business name) and comment date time entries. Customization is extremely easy. You only have to provide 4 color codes for background and borders.

The following code will be used to customize comment body where the actual comment text will appear.
 */

#dsq-content #dsq-comments .dsq-comment-body
{
	padding: 0.571em 0.786em;
	/* Space between comment text and border */
	background: #fafafa;
	/* Comment body background color */
	min-height: 70px;
	/* Minimum comment body box height */
	border-bottom: black 1px solid;
	/* Comment body bottom border */
	border-left: black 1px solid;
	/* Comment body left border */
	border-right: black 1px solid;
	/* Comment body right border */
	border-top: black 1px solid;
	/* Comment body top border */
	font-family: Lucida Sans Unicode, Helvetica, sans-serif;
	font-size: 13px;
	/* Font used for comment text */
}

/*
Apart from background and border colors, there are 3 extra attributes in this code. Leave the padding attribute as it is. min-height ensures that one line comments don’t look ugly with extremely congested comment box. font-famiy attribute is used to choose your favorite font for comment text. You can change it to suit your needs.

Disqus options contains the sorting options, community page link, and subscribe link. If you want to turn them off you can do it by using the following code. This piece of code is optional and can be safely ignored.
 */

.dsq-options
{
	display: none;
	/* Turns off various disqus options */
}

/*
As the name implies, the following code turns off the large Disqus graphical logo. This code is also optional and can be safely ignored.
 */

.dsq-dc-logo
{
	display: none;
	/* Turns off display of disqus logo */
}

/*
I prefer to switch off Disqus comment footer by using the following code. If you want to keep it, you can replace the display attribute with all the attributes used in customizing header or body.
 */

#dsq-content #dsq-comments .dsq-comment-footer
{
	display: none;
	/* Turns off comment footer */
}

/*
The following code is extremely important as it introduces reasonable gap between two comments.
 */

#dsq-content #dsq-comments .dsq-comment
{
	margin-bottom: 25px;
	/* Space between two comments */
}

/*
Once you have saved all your CSS code, you can see the effect instantly. I’ll advice you to first try these customizations on a test blog. Once you are satisfied with the theme, you can safely transfer the code to main blog. I hope this customization will give a new look to your blog and visitors will enjoy leaving comments.

Update: I’ve been observing comment threads on this post and noticed that lot of people are asking about removing Disqus logo, ‘Expand Community’ box, RSS button, and ‘Subscribe by email’ link . So here’s that magic code to completely remove these elements from your Disqus thread.
 */

#dsq-content #dsq-authenticate .dsq-login-buttons
{
	background: none !important;
	background-image: none !important;
	margin-bottom: 0 !important;
}

#dsq-subscribe a { display: none !important; }
#dsq-content #dsq-global-toolbar { display: none !important; }
#dsq-sort-by { display: none !important; }
/*--- end disqus css --*/
