body
{
	margin: 0;
	background-color: white;
}

h1, h2 { text-align: center; }

#mastertable
{
	background-color: #FAFAFF;
	border-color: #083994;
	border-width: 2px;
	border-style: solid;
}

#leftcolumn
{
	background-color: #CCCCCC;
	border-color: #083994;
	border-width: 0 1px 0 0;
	border-style: solid;
}

/*
set up the default styles for the center section: container
*/

#container
{
	background-color: #fafaff;
	border: none;
}

/*
styles for all the inside pages: content
*/

.content
{
	margin-left: 1em;
	margin-right: 1em;
	color: #000;
	background-color: inherit;
}

.content table#dateline
{
	background-color: #cccccc;
	width: 412px;
	margin: 0 auto 0 auto;
	padding: 0 4px 0 4px;
}

.content p, .content blockquote
{
	text-align: justify;
	font-size: 1em;
	line-height: 1.1em;
}

.content p#contents_listing { font-family: Arial, Helvetica, sans-serif; }

.content p.subhead
{
	text-align: center;
	font-size: 1.25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.content p.byline
{
	font-style: italic;
	text-align: center;
}

.content .photocaption
{
	font-family: "Times New Roman", Times, serif;
	font-size: 0.85em;
}

.content .bookreview
{
	background-color: #ddd;
	margin: 0.5em;
	padding: 0.5em;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.25em;
	font-weight: bold;
}

.content .otomhead
{
	text-align: left;
	font-size: 1.25em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.content .backtotop
{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-family: Arial;
	font-size: x-small;
}

.content .redhead
{
	color: white;
	background-color: #B70303;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 4px;
	white-space: nowrap;
	font-size: smaller;
	padding-right: .2em;
	padding-left: .5em;
}

.content li.link
{
	padding-top: 2em;
	border-top: 1px navy solid;
	padding-bottom: 2em;
}

/*
styles for the front page only: contentii
*/

#containerii
{
	margin-left: 1em;
	margin-right: 1em;
}

#containerii p
{
	color: #000;
	background-color: inherit;
	font-family: "Times New Roman", serif;
	text-align: left;
	line-height: 1.2em;
	font-size: .8em;
}

#rightcolumn
{
	background-color: #CCCCCC;
	border-color: #083994;
	border-width: 0 0 0 1px;
	border-style: solid;
}

#newissuebox
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.announcement
{
	font-size: larger;
	padding-bottom: 6px;
}

.announcement a:link, .announcement a:visited { text-decoration: none; }
.announcement a:hover, .announcement a:focus, .announcement a:active { text-decoration: none; }

a:link, a:visited
{
	text-decoration: none;
	color: #103994;
}

a:hover, a:focus { color: #66F; }

a:active
{
	font-weight: bold;
	text-decoration: none;
	color: #66F;
}

span.dropcap
{
	float: left;
	font-family: "Times New Roman", Georgia, serif;
	font-size: 4.4em;
	line-height: 0.85em;
	margin-right: 0.03em;
	margin-bottom: -0.25em;
	color: #009;
}

span.dropcap2
{
	float: left;
	font-family: "Times New Roman", Georgia, serif;
	font-size: 3em;
	line-height: 0.85em;
	margin-right: 0.03em;
	margin-bottom: -0.25em;
	color: #009;
}

.boxright
{
	margin-left: 1em;
	float: right;
}

.boxleft
{
	margin-right: 1em;
	float: left;
}

.boxcenter { margin: .5em auto .5em auto; }

.quoteright
{
	background-color: #ccc;
	margin-left: 1em;
	padding: 1em;
	float: right;
	width: 40%;
}

.quoteleft
{
	background-color: #ccc;
	margin-right: 1em;
	padding: 1em;
	float: left;
	width: 40%;
}

.quotecenter
{
	background-color: #ddd;
	padding: 1em;
	margin: .5em auto .5em auto;
}

sup, sub
{
	line-height: 0em;
	font-size: .7em;
}